<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

body {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}
=======
.houses-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #fafafa;
  border-bottom: 2px solid #ddd;
}

.houses-nav li {
  margin: 0;
}

.houses-nav a {
  display: block;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  width: 140px;
  transition: 0.2s;
  border-radius: 10px;
}

.houses-nav a span {
  font-size: 0.85em;
  color: #666;
}

.houses-nav a:hover {
  background: #eaeaea;
  transform: translateY(-3px);
}
>>>>>>> c3237ab088ce6e0fb907accf7b7a8720e4220a76
